In [1]:
import pandas as pd

## 실습에 사용할 예제 파일

[국내 아이돌 평판지수 (csv)](http://bit.ly/ds-korean-idol)

## DataFrame 로드

In [2]:
df = pd.read_csv('https://bit.ly/ds-korean-idol')

In [3]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

## 1. 특정한 Column을 선택하는 방법

In [4]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [5]:
type(df['혈액형']) # 기본 단위 : Series

pandas.core.series.Series

In [7]:
df['성별']  # Series로 출력됨 (1차원)

0     남자
1     남자
2     남자
3     남자
4     여자
5     남자
6     남자
7     여자
8     남자
9     남자
10    여자
11    남자
12    남자
13    남자
14    남자
Name: 성별, dtype: object

In [8]:
df['이름']

0       지민
1     지드래곤
2     강다니엘
3        뷔
4       화사
5       정국
6       민현
7       소연
8        진
9      하성운
10      태연
11     차은우
12      백호
13      JR
14      슈가
Name: 이름, dtype: object

In [9]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [11]:
df['키'] # NaN (not a number >> 결측치 발견!)

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [12]:
df.키

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

## 2. 범위 선택 (range selection) : 행의 범위를 지정한다.

### 2-1. 단순 index에 대한 범위 선택

In [13]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [15]:
df[:11]

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661

In [14]:
df[5:10]

    이름     그룹      소속사  성별        생년월일      키 혈액형  브랜드평판지수
5   정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A  5208335
6   민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O  4989792
7   소연    아이들       큐브  여자  1998-08-26    NaN   B  4668615
8    진  방탄소년단      빅히트  남자  1992-12-04  179.2   O  4570308
9  하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A  4036489

In [16]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

### 2-2. loc

앞으로 굉장히 **자주 사용**합니다. 반드시 손에 익숙해 지도록 합시다!

In [17]:
df.loc[:, '이름'] # ':' all

0       지민
1     지드래곤
2     강다니엘
3        뷔
4       화사
5       정국
6       민현
7       소연
8        진
9      하성운
10      태연
11     차은우
12      백호
13      JR
14      슈가
Name: 이름, dtype: object

In [18]:
df.loc[:, ['이름', '생년월일']]

      이름        생년월일
0     지민  1995-10-13
1   지드래곤  1988-08-18
2   강다니엘  1996-12-10
3      뷔  1995-12-30
4     화사  1995-07-23
5     정국  1997-09-01
6     민현  1995-08-09
7     소연  1998-08-26
8      진  1992-12-04
9    하성운  1994-03-22
10    태연  1989-03-09
11   차은우  1997-03-30
12    백호  1995-07-21
13    JR  1995-06-08
14    슈가  1993-03-09

In [19]:
df.loc[:, ["이름", "소속사","브랜드평판지수"]]

      이름      소속사   브랜드평판지수
0     지민      빅히트  10523260
1   지드래곤       YG   9916947
2   강다니엘      커넥트   8273745
3      뷔      빅히트   8073501
4     화사      RBW   7650928
5     정국      빅히트   5208335
6     민현     플레디스   4989792
7     소연       큐브   4668615
8      진      빅히트   4570308
9    하성운  스타크루이엔티   4036489
10    태연       SM   3918661
11   차은우     판타지오   3506027
12    백호     플레디스   3301654
13    JR     플레디스   3274137
14    슈가      빅히트   2925442

In [20]:
# loc에서 행은 마지막행까지 포함
df.loc[3:8, ['이름', '생년월일']]

   이름        생년월일
3   뷔  1995-12-30
4  화사  1995-07-23
5  정국  1997-09-01
6  민현  1995-08-09
7  소연  1998-08-26
8   진  1992-12-04

In [21]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [22]:
df.loc[2:5, '이름':'생년월일']

     이름     그룹  소속사  성별        생년월일
2  강다니엘    NaN  커넥트  남자  1996-12-10
3     뷔  방탄소년단  빅히트  남자  1995-12-30
4    화사    마마무  RBW  여자  1995-07-23
5    정국  방탄소년단  빅히트  남자  1997-09-01

### 2-3. iloc (position으로 색인)

In [ ]:
df.head()

     이름     그룹  소속사  성별        생년월일      키 혈액형   브랜드평판지수
0    지민  방탄소년단  빅히트  남자  1995-10-13  173.6   A  10523260
1  지드래곤     빅뱅   YG  남자  1988-08-18  177.0   A   9916947
2  강다니엘    NaN  커넥트  남자  1996-12-10  180.0   A   8273745
3     뷔  방탄소년단  빅히트  남자  1995-12-30  178.0  AB   8073501
4    화사    마마무  RBW  여자  1995-07-23  162.1   A   7650928

In [27]:
df.iloc[:10,[0,-1]]

     이름   브랜드평판지수
0    지민  10523260
1  지드래곤   9916947
2  강다니엘   8273745
3     뷔   8073501
4    화사   7650928
5    정국   5208335
6    민현   4989792
7    소연   4668615
8     진   4570308
9   하성운   4036489

In [24]:
df.iloc[:, [0,2]]

      이름      소속사
0     지민      빅히트
1   지드래곤       YG
2   강다니엘      커넥트
3      뷔      빅히트
4     화사      RBW
5     정국      빅히트
6     민현     플레디스
7     소연       큐브
8      진      빅히트
9    하성운  스타크루이엔티
10    태연       SM
11   차은우     판타지오
12    백호     플레디스
13    JR     플레디스
14    슈가      빅히트

In [26]:
df.iloc[:, 0:3] # 마지막 포함 안 함

      이름     그룹      소속사
0     지민  방탄소년단      빅히트
1   지드래곤     빅뱅       YG
2   강다니엘    NaN      커넥트
3      뷔  방탄소년단      빅히트
4     화사    마마무      RBW
5     정국  방탄소년단      빅히트
6     민현   뉴이스트     플레디스
7     소연    아이들       큐브
8      진  방탄소년단      빅히트
9    하성운     핫샷  스타크루이엔티
10    태연   소녀시대       SM
11   차은우   아스트로     판타지오
12    백호   뉴이스트     플레디스
13    JR   뉴이스트     플레디스
14    슈가  방탄소년단      빅히트

In [28]:
df.iloc[:,2:-1]

        소속사  성별        생년월일      키 혈액형
0       빅히트  남자  1995-10-13  173.6   A
1        YG  남자  1988-08-18  177.0   A
2       커넥트  남자  1996-12-10  180.0   A
3       빅히트  남자  1995-12-30  178.0  AB
4       RBW  여자  1995-07-23  162.1   A
5       빅히트  남자  1997-09-01  178.0   A
6      플레디스  남자  1995-08-09  182.3   O
7        큐브  여자  1998-08-26    NaN   B
8       빅히트  남자  1992-12-04  179.2   O
9   스타크루이엔티  남자  1994-03-22  167.1   A
10       SM  여자  1989-03-09    NaN   A
11     판타지오  남자  1997-03-30  183.0   B
12     플레디스  남자  1995-07-21  175.0  AB
13     플레디스  남자  1995-06-08  176.0   O
14      빅히트  남자  1993-03-09  174.0   O

In [29]:
df.iloc[1:5, [0, 2]]

     이름  소속사
1  지드래곤   YG
2  강다니엘  커넥트
3     뷔  빅히트
4    화사  RBW

In [30]:
df.iloc[1:5, 1:4]

      그룹  소속사  성별
1     빅뱅   YG  남자
2    NaN  커넥트  남자
3  방탄소년단  빅히트  남자
4    마마무  RBW  여자

## 3. Boolean Indexing - 조건을 활용한 색인

Boolean indexing은 **Numpy에서 배웠던 Boolean 인덱싱과 같은 원리**입니다.

In [31]:
df['키']

0     173.6
1     177.0
2     180.0
3     178.0
4     162.1
5     178.0
6     182.3
7       NaN
8     179.2
9     167.1
10      NaN
11    183.0
12    175.0
13    176.0
14    174.0
Name: 키, dtype: float64

In [32]:
df['키'] > 180 # 조건

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
Name: 키, dtype: bool

In [33]:
# 조건에 부합하는 행에 대한 정보 출력
# df[]
df[df['키'] > 180]

     이름    그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
6    민현  뉴이스트  플레디스  남자  1995-08-09  182.3   O  4989792
11  차은우  아스트로  판타지오  남자  1997-03-30  183.0   B  3506027

Boolean Index 로 받은 Index 를 활용해서 True인 값만 색인해 낼 수 있습니다.
* df[] 꺾쇠로 감싸주고, 그안에 Boolean Index를 넣어주시면 됩니다.

In [35]:
df['키'] < 170

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
Name: 키, dtype: bool

In [34]:
df[ df['키'] < 170]

    이름   그룹      소속사  성별        생년월일      키 혈액형  브랜드평판지수
4   화사  마마무      RBW  여자  1995-07-23  162.1   A  7650928
9  하성운   핫샷  스타크루이엔티  남자  1994-03-22  167.1   A  4036489

위와 같은 방법이 매우 간편한 방법이기는 하지만, **모든 column을 출력해야만 한다는 한계**가 있습니다. 
* 특정 column과 같이 색인해 내고 싶을땐 어떻게 할까요?

In [37]:
# df[ df['키'] > 180, '이름']
# TypeError 발생

해결 방법 1. 맨 뒤에 출력할 column 붙히기

In [39]:
df[ df['키'] > 180 ]  # 1) 먼저, 키가 180인 조건을 가진 데이터 추출

     이름    그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
6    민현  뉴이스트  플레디스  남자  1995-08-09  182.3   O  4989792
11  차은우  아스트로  판타지오  남자  1997-03-30  183.0   B  3506027

In [40]:
df[ df['키'] > 180 ]['이름'] # 2) 그 조건을 만족하는 특성정보(feature) 추출

6      민현
11    차은우
Name: 이름, dtype: object

In [45]:
df[df['소속사'] == '플레디스']['이름']

6     민현
12    백호
13    JR
Name: 이름, dtype: object

In [46]:
df[df['소속사'] == '플레디스'][['이름','브랜드평판지수']]

    이름  브랜드평판지수
6   민현  4989792
12  백호  3301654
13  JR  3274137

In [41]:
df[ df['키'] > 180 ][['이름', '키']]
# [['이름', '키']] : 열을 가리킴

     이름      키
6    민현  182.3
11  차은우  183.0

해결 방법 2. loc를 활용

In [47]:
df.loc[ df['키'] > 180, '이름']

6      민현
11    차은우
Name: 이름, dtype: object

In [51]:
# 성별이 여성인 가수의  이름, 소속사
df.loc[df['성별']=='여자',['이름','소속사']]

    이름  소속사
4   화사  RBW
7   소연   큐브
10  태연   SM

In [52]:
# 성별이 여성인 가수의 이름, 소속사, 브랜드평판지수
df.loc[df['성별'] == '여자', ['이름','소속사','브랜드평판지수']]

    이름  소속사  브랜드평판지수
4   화사  RBW  7650928
7   소연   큐브  4668615
10  태연   SM  3918661

In [48]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

In [49]:
df.loc[ df['키'] > 180, '이름': '성별']

     이름    그룹   소속사  성별
6    민현  뉴이스트  플레디스  남자
11  차은우  아스트로  판타지오  남자

In [50]:
df.loc[ df['키'] > 180, ['이름', '키']]

     이름      키
6    민현  182.3
11  차은우  183.0

저는 **방법 2를 추천** 합니다.

## 4. isin을 활용한 색인

isin을 활용한 색인은 내가 조건을 걸고자 하는 값이 내가 정의한 list에 있을 때만 색인하려는 경우에 사용합니다.

In [53]:
my_condition = ['플레디스', 'SM']

In [54]:
df['소속사']

0         빅히트
1          YG
2         커넥트
3         빅히트
4         RBW
5         빅히트
6        플레디스
7          큐브
8         빅히트
9     스타크루이엔티
10         SM
11       판타지오
12       플레디스
13       플레디스
14        빅히트
Name: 소속사, dtype: object

In [55]:
df['소속사'].isin(my_condition)

0     False
1     False
2     False
3     False
4     False
5     False
6      True
7     False
8     False
9     False
10     True
11    False
12     True
13     True
14    False
Name: 소속사, dtype: bool

In [56]:
df.loc[ df['소속사'].isin(my_condition) ]

    이름    그룹   소속사  성별        생년월일      키 혈액형  브랜드평판지수
6   민현  뉴이스트  플레디스  남자  1995-08-09  182.3   O  4989792
10  태연  소녀시대    SM  여자  1989-03-09    NaN   A  3918661
12  백호  뉴이스트  플레디스  남자  1995-07-21  175.0  AB  3301654
13  JR  뉴이스트  플레디스  남자  1995-06-08  176.0   O  3274137

In [57]:
df.loc[ df['소속사'].isin(my_condition), '소속사' ]

6     플레디스
10      SM
12    플레디스
13    플레디스
Name: 소속사, dtype: object

In [58]:
df.loc[ df['소속사'].isin(my_condition), ['소속사','브랜드평판지수'] ]

     소속사  브랜드평판지수
6   플레디스  4989792
10    SM  3918661
12  플레디스  3301654
13  플레디스  3274137

## 5. 결측값(Null) 알아보기

### 5-1. NaN 값에 대하여

* Null 값은 **비어있는 값, 고~급 언어로 결측값**입니다.
* pandas 에서는 NaN => Not a Number 로 표기 된 것을 확인해 볼 수 있습니다.

In [59]:
df

      이름     그룹      소속사  성별        생년월일      키 혈액형   브랜드평판지수
0     지민  방탄소년단      빅히트  남자  1995-10-13  173.6   A  10523260
1   지드래곤     빅뱅       YG  남자  1988-08-18  177.0   A   9916947
2   강다니엘    NaN      커넥트  남자  1996-12-10  180.0   A   8273745
3      뷔  방탄소년단      빅히트  남자  1995-12-30  178.0  AB   8073501
4     화사    마마무      RBW  여자  1995-07-23  162.1   A   7650928
5     정국  방탄소년단      빅히트  남자  1997-09-01  178.0   A   5208335
6     민현   뉴이스트     플레디스  남자  1995-08-09  182.3   O   4989792
7     소연    아이들       큐브  여자  1998-08-26    NaN   B   4668615
8      진  방탄소년단      빅히트  남자  1992-12-04  179.2   O   4570308
9    하성운     핫샷  스타크루이엔티  남자  1994-03-22  167.1   A   4036489
10    태연   소녀시대       SM  여자  1989-03-09    NaN   A   3918661
11   차은우   아스트로     판타지오  남자  1997-03-30  183.0   B   3506027
12    백호   뉴이스트     플레디스  남자  1995-07-21  175.0  AB   3301654
13    JR   뉴이스트     플레디스  남자  1995-06-08  176.0   O   3274137
14    슈가  방탄소년단      빅히트  남자  1993-03-09  174.0   O   2925442

info() 로 NaN 값, 즉 빠진 데이터가 어디에 있는지 쉽게 요약정보로 확인할 수 있습니다.

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   이름       15 non-null     object
 1   그룹       14 non-null     object
 2   소속사      15 non-null     object
 3   성별       15 non-null     object
 4   생년월일     15 non-null     object
 5   키        13 non-null     float64
 6   혈액형      15 non-null     object
 7   브랜드평판지수  15 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 1.1+ KB

### 5-2. 결측 값 다루기

Boolean 인덱싱

In [61]:
df.isna()  #NA(N/A) : Not available

       이름     그룹    소속사     성별   생년월일      키    혈액형  브랜드평판지수
0   False  False  False  False  False  False  False    False
1   False  False  False  False  False  False  False    False
2   False   True  False  False  False  False  False    False
3   False  False  False  False  False  False  False    False
4   False  False  False  False  False  False  False    False
5   False  False  False  False  False  False  False    False
6   False  False  False  False  False  False  False    False
7   False  False  False  False  False   True  False    False
8   False  False  False  False  False  False  False    False
9   False  False  False  False  False  False  False    False
10  False  False  False  False  False   True  False    False
11  False  False  False  False  False  False  False    False
12  False  False  False  False  False  False  False    False
13  False  False  False  False  False  False  False    False
14  False  False  False  False  False  False  False    False

info() 메소드를 통해서 전체적으로 어떤 column에 빠진 데이터가 있는지 알아 보았습니다.

또한, 다음과 같이 특정 column에서 빠진 값을 색출해 낼 수 있습니다.

1. Boolean 인덱싱으로 True가 return 되는 값이 NaN이라는 것을 알 수 있습니다.

In [62]:
df.isnull()

       이름     그룹    소속사     성별   생년월일      키    혈액형  브랜드평판지수
0   False  False  False  False  False  False  False    False
1   False  False  False  False  False  False  False    False
2   False   True  False  False  False  False  False    False
3   False  False  False  False  False  False  False    False
4   False  False  False  False  False  False  False    False
5   False  False  False  False  False  False  False    False
6   False  False  False  False  False  False  False    False
7   False  False  False  False  False   True  False    False
8   False  False  False  False  False  False  False    False
9   False  False  False  False  False  False  False    False
10  False  False  False  False  False   True  False    False
11  False  False  False  False  False  False  False    False
12  False  False  False  False  False  False  False    False
13  False  False  False  False  False  False  False    False
14  False  False  False  False  False  False  False    False

In [63]:
df['그룹'].isnull()

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
Name: 그룹, dtype: bool

2. NaN 값만 색출해내기

In [64]:
df['그룹']

0     방탄소년단
1        빅뱅
2       NaN
3     방탄소년단
4       마마무
5     방탄소년단
6      뉴이스트
7       아이들
8     방탄소년단
9        핫샷
10     소녀시대
11     아스트로
12     뉴이스트
13     뉴이스트
14    방탄소년단
Name: 그룹, dtype: object

In [65]:
df['그룹'][df['그룹'].isnull()]

2    NaN
Name: 그룹, dtype: object

In [66]:
df['그룹'][df['그룹'].isna()]

2    NaN
Name: 그룹, dtype: object

In [69]:
_na = df['그룹'][df['그룹'].isna()]

3. NaN이 아닌 값에 대하여 Boolean 인덱싱

In [67]:
df['그룹'].notnull()

0      True
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
Name: 그룹, dtype: bool

4. NaN이 아닌 값만 색출해내기

In [68]:
df['그룹'][df['그룹'].notnull()]

0     방탄소년단
1        빅뱅
3     방탄소년단
4       마마무
5     방탄소년단
6      뉴이스트
7       아이들
8     방탄소년단
9        핫샷
10     소녀시대
11     아스트로
12     뉴이스트
13     뉴이스트
14    방탄소년단
Name: 그룹, dtype: object

In [70]:
df.loc[ df['그룹'].notnull(), ['키', '혈액형'] ]

        키 혈액형
0   173.6   A
1   177.0   A
3   178.0  AB
4   162.1   A
5   178.0   A
6   182.3   O
7     NaN   B
8   179.2   O
9   167.1   A
10    NaN   A
11  183.0   B
12  175.0  AB
13  176.0   O
14  174.0   O